<div class="table_color">
    <div class="main">
        <h1 *ngIf="exams.length > 0" class="ml-5 title">Exams</h1>
        <h3 *ngIf="exams.length == 0" class="ml-5">You have no exams!</h3>
        <table class="table mx-auto w-75" *ngIf="exams.length > 0">
            <thead>
                <tr>
                    <th class="text-center">Title</th>
                    <th class="text-center">Grade</th>
                    <th class="text-center">Points</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of exams; let i = index; let odd = odd;">
                    <td class="text-center"><button class="btn btn-link" (click)="gotToViewExam(e)">{{ e.enrollmentDTO.courseInstanceDTO.courseSpecificationDTO.title }}</button></td>
                    <td class="text-center">{{ e.grade }}</td>
                    <td class="text-center">{{ e.points }}</td>
                </tr>
            </tbody>    
        </table>
    </div>
</div>