<app-teacher-header></app-teacher-header>
<div id="bg">
    <div>
        <h2 id="schedulingExams">Scheduling exams:</h2>
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" *ngFor = "let column of headers">{{ column }}</th>
                    <th>Check in</th>
                </tr>
            </thead>
            <tbody>
				<tr *ngFor = "let row of rows">
					<td scope="row" *ngFor = "let column of headers">{{row[column]}}</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                
                            </label>
                        </div>
                    </td>
				</tr>
            </tbody>
		</table>
        <button type="button" class="btn btn-primary" id="dugme">Confirm</button>
    </div>
    <app-footer></app-footer>
</div>


