
<!-- <div>

    <router-outlet></router-outlet>
    <! -- <app-documents></app-documents> -->
    <!-- <app-document></app-document> -->
    <!-- <app-login></app-login> -->
    <!-- <app-account></app-account> -->

<!-- </div>  -->


<div class="wrapper"> -->
    <app-admin-sidebar *ngIf="role === 'ROLE_ADMINISTRATOR'"></app-admin-sidebar>
    <app-student-sidebar *ngIf="role === 'ROLE_STUDENT'"></app-student-sidebar>
    <app-teacher-sidebar *ngIf="role === 'ROLE_TEACHER'"></app-teacher-sidebar>
    <div class="main-panel">
      <app-navbar *ngIf="role === 'ROLE_ADMINISTRATOR' || role === 'ROLE_STUDENT' || role === 'ROLE_TEACHER'"></app-navbar>
      <div [ngClass]="{'content':role!=undefined}">
        <router-outlet (activate)="checkRole()"></router-outlet>
      </div>
    </div>
  </div> 
    

