
<div>

    <!-- <router-outlet></router-outlet> -->
    <app-account></app-account>
    <!-- <app-admin-courses-page></app-admin-courses-page> -->
    <!-- <app-admin-exams-page></app-admin-exams-page> -->

</div>


<!-- <div class="wrapper">
    <app-admin-sidebar *ngIf="role === 'ROLE_ADMINISTRATOR'"></app-admin-sidebar>
    <app-student-navbar *ngIf="role === 'ROLE_STUDENT'"></app-student-navbar>
    <app-teacher-navbar *ngIf="role === 'ROLE_TEACHER'"></app-teacher-navbar>
    <div class="main-panel">
      <app-navbar *ngIf="role === 'ROLE_ADMINISTRATOR' || role === 'ROLE_STUDENT' || role === 'ROLE_TEACHER'"></app-navbar>
      <div [ngClass]="{'content':role!=undefined}">
        <router-outlet (activate)="checkRole()"></router-outlet>
      </div>
    </div>
  </div>  -->

  <!-- ??? |-->

