<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin home page</title>
</head>
<body>
    <app-admin-header></app-admin-header>
    <h1>Users</h1>
    <div id="outer">
        <div class="inner"><button type="button" class="btn btn-light" style="border: 1px solid black;">Students</button></div>
        <div class="inner"><button type="button" class="btn btn-light" style="border: 1px solid black;">Teachers</button></div>
        <div class="inner"><button type="button" class="btn btn-light" style="border: 1px solid black;">Admins</button></div>
      </div>
    
</body>
</html>
