h1 {
    text-align: center;
    margin-top: 7%;
}

#outer
{
    width:100%;
    text-align: center;
    padding: 10px;
    
}
.inner
{
    display: inline-block;
    padding: 40px;
    margin-top: 2%;
    
}

button {
    width: 120px;
    height: 120px;
}