#bg {
    background-image: url("/assets/AdminAdd.jpg");
    /* Full height */
    height: 100%; 
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#container{
    width: 40%;
    padding: 1%;
}

button{
    margin: 15px 15px 0 0;
}

label{
    font-weight: bold;
}