<app-admin-header></app-admin-header>

<div>
    <h3>Student</h3>
  </div>
  
  <div>
  
    <form >
          <div class="form-group">
            <label for="field1c" class="form-control-label">FirstName</label>
            <input type="text" [(ngModel)]="student.firstName" 
               class="form-control" id="field1c" name="field1">
          </div>
  
          <div class="form-group">
            <label for="field2c" class="form-control-label">LastName</label>
            <input type="text" [(ngModel)]="student.lastName"
               class="form-control" id="field2c" name="field2">
          </div>
          <div class="form-group">
            <label for="field1c" class="form-control-label">Email</label>
            <input type="text" [(ngModel)]="student.email" 
               class="form-control" id="field3c" name="field3">
          </div>
  
          <div class="form-group">
            <label for="field2c" class="form-control-label">CardNumber</label>
            <input type="text" [(ngModel)]="student.cardNumber"
               class="form-control" id="field4c" name="field4">
          </div>
     </form>
    
  

  </div>
  <div> 
    <button class="btn btn-primary" (click)="edit()">Submit</button>
    <button class="btn btn-primary" (click)="goBack()">Back</button>
  </div> 