<app-admin-header></app-admin-header>

<h1 style="text-align: center;">All students</h1>
<!-- <table class="table" border="1px solid black">
  <thead class="thead-dark">
    <tr>
      <th scope="col" *ngFor = "let column of headers">
      </th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let student of studentss">
      <td scope="row" *ngFor = "let column of headers">
        
        
      </td>

    </tr>
    
  </tbody>
</table> -->
 
 <button type="button">Add student</button>


 <app-footer></app-footer>
 

 <div class="container">
  <div class="card">
    <h3 class="text-center">Users</h3>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <th>Id</th>
          <th>username</th>
          <th>password</th>
          
        </thead>
        <tbody>
          <tr *ngFor = "let user of users">
            <td>{{user.idUser }}</td>
            <td>{{user.user_name }}</td>
            <td>{{user.password }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


 </div>



 