<app-admin-header></app-admin-header>

<h1 style="text-align: center;">All students</h1>
 <table class="table" border="1px solid black">
  <thead class="thead-dark">
    <th>ID</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Email</th>
    <th>CardNumber</th>
    <th>Username</th>
  </thead>
  <tbody>
    <tr *ngFor = "let student of students">
      <td>
        {{student.id}}        
      </td>
      <td>
        {{student.firstName}}        
      </td>
      <td>
        {{student.lastName}}        
      </td>
      <td>
        {{student.email}}        
      </td>
      <td>
        {{student.cardNumber}}        
      </td>
      <td>
        {{student.user}}        
      </td>

    </tr>
    
  </tbody>
</table> 
 
 <button type="button" >Add student</button>


 <app-footer></app-footer>
 
<!--
 <div class="container">
  <div class="card">
    <h3 class="text-center">Users</h3>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <th>Id</th>
          <th>username</th>
          <th>password</th>
          
        </thead>
        <tbody>
          <tr *ngFor = "let user of users">
            <td>{{user.idUser }}</td>
            <td>{{user.user_name }}</td>
            <td>{{user.password }}</td>

            <td><button style='margin-right:16px' (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>
              <button style='margin-right:16px' (click)="updateEmployee(employee.id)" class="btn btn-success" style="margin-left: 10px">Edit details</button>
            </td>
          </tr> 
        </tbody>
      </table>
    </div>
  </div>
 </div>
-->