<div class="table_color ">
    <h1 class="ml-5 title">Courses specifications</h1>
    <table class="table mx-auto w-75 mt-5">
        <thead>
            <tr>
                <th class="text-center">Title</th>
                
                <th class="text-center">ECTS</th>
                <th class="text-center">Code</th>
                <th></th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let cs of coursesSpecifications; let i = index; let odd = odd;">
                <td class="text-center"><button class="btn btn-link" (click)="goToViewCourseSpecification(cs)">{{cs.title}}</button></td>
                <td class="text-center">{{cs.ects}}</td>
                <td class="text-center">{{cs.code}}</td>
                <td class="text-center"><button type="button" class="btn btn-danger btn-sm" (click)="deleteCourseSpecification(cs)">X</button></td> 
            </tr>
        </tbody>
    </table>
    <div class="ml-5 text-right">
        <a class="btn btn-outline-primary mt-3 ml-5" routerLink="/add-course-specification" role="button">Add</a>
    </div>
</div>