#bg {
    background-image: url("/assets/AdminAdd.jpg");
    /* Full height */
    height: 100%; 
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#container{
    margin-left: 38%;
    color: white;
}

h2{
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
    font-weight: 600;
}