
<link href="admin-header-component.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">FacultyService</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          
        <li class="nav-item">
          <a class="nav-link" href="#"><a [routerLink]="['/admincourses']">Courses</a></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Documents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><a [routerLink]="['/admin']">Users</a></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><a [routerLink]="['/adminexams']">Exams</a></a>
        </li>
      </ul>
      <div class="dropdown">
        <button class="dropbtn"><a [routerLink]="['/admin']">Username</a></button>
        <div class="dropdown-content">
          <a class="nav-link" href="#">Profile</a>
          <a class="nav-link" href="#">Logout</a>
        </div>
      </div> 
    </div>
  </div>
</nav>

