<app-student-header></app-student-header>
<div id="bg">
    <div>
        <h2 id="examsReview">Exams Review:</h2>
        <h2 id="student">Student: Firstname Lastname</h2>
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" *ngFor = "let column of headers">{{ column }}</th>
                </tr>
            </thead>
            <tbody>
				<tr *ngFor = "let row of rows">
					<td scope="row" *ngFor = "let column of headers">{{row[column]}}</td>
				</tr>
            </tbody>
		</table>
    </div>
    <app-footer></app-footer>
</div>

