<div id="background" style="background-image: url('/assets/Background1.png');
	/* Full height and width */
    height: 100%; 
    width: 100%;
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;">
<div class=" col-md-8 color_text" style="margin-left:10px;">
    <div class=" table_color">
      <div class=" card-body" >
        <h1 class=" title" >My Profile</h1>
        <form>
          <div class=" row">
            <div class=" col-md-3 px-md-1">
              <div class=" form-group">
                <label> First name: </label>
                <input
                  style="background-color: rgba(39,41,61,255); color: white;"
                  *ngIf="editInstance!=true"
                  class=" form-control"
                  type="text"
                  readonly 
                  [(ngModel)]="user.firstName"
                  [ngModelOptions]="{standalone: true}"
                  name="first"
                />
                <input
                style="background-color: rgba(39,41,61,255); color: white;"
                *ngIf="editInstance"
                  class=" form-control"
                  type="text"
                  [(ngModel)]="changePass.firstName"
                  [ngModelOptions]="{standalone: true}"
                  name="first"
                />
              </div>
            </div>
            <div class=" col-md-3 px-md-1">
                <div class=" form-group">
                  <label> Last name: </label>
                  <input
                  style="background-color: rgba(39,41,61,255); color: white;"
                    *ngIf="editInstance!=true"
                    class=" form-control"
                    type="text"
                    readonly 
                    [(ngModel)]="user.lastName"
                    [ngModelOptions]="{standalone: true}"
                    name="lastName"
                  />
                  <input
                  style="background-color: rgba(39,41,61,255); color: white;"
                  *ngIf="editInstance"
                    class=" form-control"
                    type="text"
                    [(ngModel)]="changePass.lastName"
                    [ngModelOptions]="{standalone: true}"
                    name="lastName"
                  />
                </div>
              </div>
              <div class="mt-2 ml-50" style="width:650px;">
                <b>Username:</b>
                <input 
                style="background-color: rgba(39,41,61,255); color: white;"
                 type="text" class="form-control col-2 d-inline ml-2" readonly [(ngModel)]="user.userName" name="username">
            </div>
          </div>
          <div *ngIf="editInstance" class=" row">
            <div class=" col-md-3 px-md-1">
              <div class=" form-group">
                <label> Old password: </label>
                <input
                style="background-color: rgba(39,41,61,255); color: white;"
                  class=" form-control"
                  type="password"
                  [(ngModel)]="changePass.oldPass"
                  [ngModelOptions]="{standalone: true}"
                  name="oldPass"
                />
              </div>
            </div>
            <div *ngIf="editInstance" class=" col-md-3 px-md-1">
              <div class=" form-group">
                <label> New password: </label>
                <input
                style="background-color: rgba(39,41,61,255); color: white;"
                  class=" form-control"
                  type="password"
                  [(ngModel)]="changePass.newPass"
                  [ngModelOptions]="{standalone: true}"
                  name="newPass"
                />
              </div>
            </div>
            <div class=" col-md-3 px-md-1">
              <div class=" form-group">
                <label> Repeate new password: </label>
                <input
                style="background-color: rgba(39,41,61,255); color: white;"
                  class=" form-control"
                  type="password"
                  [(ngModel)]="repeatPass"
                  [ngModelOptions]="{standalone: true}"
                  name="repeatPass"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class=" card-footer text-right" style="background-color: rgba(39,41,61,255); width:200px; margin-left:10px;">
        <button type="button" class=" btn btn-fill btn-danger" style="margin-right:15px;" *ngIf="!editInstance" (click)="edit()">Change information</button>
        <button type="button" class=" btn btn-fill btn-danger" style="margin-right:15px;" *ngIf="editInstance" (click)="submit()">✓</button>
        <button type="button" class=" btn btn-fill btn-danger" *ngIf="editInstance" (click)="cancel()">X</button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
 </div>