<!-- <link href="admin-home-page.component.css">
<app-admin-header></app-admin-header>
<div id="bg">
    <h1>Users</h1>
    <div id="outer">
        <div class="inner"><button [routerLink]="['/admin-students']" type="button" class="btn btn-light" style="border: 1px solid black;"><a>Students</a></button></div>
        <div class="inner"><button [routerLink]="['/admin-teachers']" type="button" class="btn btn-light" style="border: 1px solid black;"><a>Teachers</a></button></div>
        <div class="inner"><button [routerLink]="['/admin-admins']" type="button" class="btn btn-light" style="border: 1px solid black;"><a>Admins</a></button></div>
      </div>
      <app-footer></app-footer>
</div> -->

