<div class="main color_text">
    <table class="table mx-auto w-75">
        <thead class="color_text">
            <tr>
              <th colspan="4" class="text-center">
                <h2>Courses</h2>
              </th>
            </tr>
            <tr>
                <th class="text-center">Title</th>
                <th class="text-center">Start date</th>
                <th class="text-center">End date</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="color_text">
            <tr *ngFor="let ci of courseInstances; let i = index; let odd = odd;">
                <td class="text-center"><button class="btn btn-link" (click)="goToCourseInstance(ci)">{{ci.courseSpecificationDTO.title}}</button></td>
              

                <td class="text-center">{{ dateToString(ci.startDate) | date:'mediumDate'}}</td>
                <td class="text-center">{{ dateToString(ci.endDate) | date:'mediumDate'}}</td>
                <td><button type="button" class="btn rounded btn-light btn-sm ml-1" (click)="goToStudentDetail(ci)"><img style="background-color: white;" src="../../../assets/img/icon_detail.png" alt=""></button></td>
              </tr>
        </tbody>
    </table>

</div>