<div class="sidebar h_13">
    <div class="sidebar-wrapper">
      <ul class="nav" style="background-color:rgba(0, 0, 0, .8);">
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/exams" class="nav-link" style="color:white;"> Exams </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/account" class="nav-link" style="color:white;"> Account </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/documents" class="nav-link" style="color:white;"> Documents </a>
        </li>
      </ul>
    </div>
  </div>