* {
	margin: 0px;
	padding: 0px;
}

nav div a {
	font-size: 30px;
	margin: 5px 0px 5px 15px;
}

#bg {
    background-image: url("/assets/Login.png");

    /* Full height and width */
    height: 100%; 
    width: 100%;
  
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

#container {
	margin: 0 auto;
	height: 100%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 40px;
	background: rgba(0, 0, 0, .8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
	border-radius: 10px;
}

.box h2 {
	margin: 0 0 45px;
	padding: 0;
	color: #fff;
	text-align: center;
}

.box .inputBox {
	position: relative;
}

.box .inputBox input {
	width: 100%;
	padding: 10px 0;
	font-size: 14px;
	color: #fff;
	margin-bottom: 40px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}

.box .inputBox label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 18px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}

.box .inputBox input:focus ~ label, .box .inputBox input:valid ~ label {
	top: -24px;
	left: 0;
	color: #03a9f4;
	font-size: 16px;
}

.box input[type="submit"] {
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #2a83f8;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 8px;
	transition: 0.8s;
}

.box input[type="submit"]:hover {
	-webkit-box-shadow: 0px 0px 27px 8px rgba(255, 255, 255, 0.77);
	-moz-box-shadow: 0px 0px 27px 8px rgba(255, 255, 255, 0.77);
	box-shadow: 0px 0px 27px 8px rgba(255, 255, 255, 0.77);
}

.box p a {
	float: right;
	color: #fff;
	text-decoration: none;
}

a{
	color: white;
	float: right;
}

#messageParagraph {
	padding: 8px 0 0 0;
	color: red;
	font-size: 18px;
}