<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login:</title>
<link rel="stylesheet" href="login.component.css">
<link rel="shortcut icon" href="Photos/Logo.jpg" type="image/x-icon">
</head>

	<header>
	</header>
	<div id="container">
		<div class="box">
			<h2>Login</h2>
			<form>
				<div class="inputBox">
					<input type="text" name="userName" id="userNameInput" required="">
					<label>Username</label>
				</div>
				<div class="inputBox">
					<input type="password" name="password" id="passwordInput"
						required=""> <label>Password:</label>
				</div>
				<input type="submit" value="Login" id="loginSubmit">
				<a href="#">Forgot password?</a>

			</form>
			<p style="color: red;" id="messageParagraph" ></p>
