<!-- <div class="form-group text-center">
    <div class="row mx-auto w-50">
        <img src="../../../assets/img/Sample_User_Icon.png" class="w-15 h-15 ml-125">
        <h1 class="ml-3">Register</h1>
    </div>
    <div class="mt-3">
        <b>First name:</b>
        <input type="text" class="form-control col-2 d-inline ml-2">
    </div>
    <div class="mt-2">
        <b>Last name:</b>
        <input type="text" class="form-control col-2 d-inline ml-2">
    </div>
    <div class="mt-2">
        <b>Username:</b>
        <input type="text" class="form-control col-2 d-inline ml-2">
    </div>
    <div class="mt-2">
        <b>Password:</b>
        <input type="password" class="form-control col-2 d-inline ml-2">
    </div>
    <div class="mt-2 ml-4">
        <b>Type:</b>
        <select class="form-control col-2 d-inline ml-3" name="" id="">
            <option value="">--Select type--</option>
            <option value="">Teacher</option>
            <option value="">Student</option>
        </select>
    </div>
    <div class="ml-5">
        <button type="button" class="btn btn-outline-primary mt-3 ml-5">Register</button>
        <button type="button" class="btn btn-outline-secondary mt-3 ml-1">Cancel</button>
    </div>
</div> -->