<div class="table_color ">
    <h1 class="ml-5 title">Users</h1>
    <table class="table mx-auto w-75 mt-5">
        <thead>
            <tr>
                <th class="text-center">Firstname</th>
                <th class="text-center">Lastname</th>
                <th class="text-center">Username</th>
                <th></th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let u of users; let i = index; let odd = odd;">
                <td class="text-center">{{u.firstName}}</td>
                <td class="text-center">{{u.lastName}}</td>
                <td class="text-center"><button class="btn btn-link" (click)="goToViewUser(u)">{{u.userName}}</button></td>
                <td class="text-center"><button type="button" class="btn btn-danger btn-sm" (click)="deleteUser(u)">X</button></td> 
            </tr>
        </tbody>
    </table>
    <div class="ml-5 text-right">
        <a class="btn btn-outline mt-3 ml-5" routerLink="/add-user" role="button">Add</a>
    </div>
  </div>