<div class="sidebar h_20">
    <div class="sidebar-wrapper">
      <ul class="nav" style="background-color:rgba(0, 0, 0, .8);">
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/courses" class="nav-link" style="color:white;">Courses instances</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/courses-specifications" class="nav-link" style="color:white;">Courses specifications</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/users" class="nav-link" style="color:white;"> Users </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/students" class="nav-link" style="color:white;"> Students </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/teachers" class="nav-link" style="color:white;"> Teachers </a>
        </li>
       
      </ul>
    </div>
  </div>