<div class="sidebar h_20">
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/courses" class="nav-link">Courses instances</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/courses-specifications" class="nav-link">Courses specifications</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/users" class="nav-link"> Users </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/students" class="nav-link"> Students </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/teachers" class="nav-link"> Teachers </a>
        </li>
      </ul>
    </div>
  </div>