#bg {
    background-image: url("/assets/Profile.jpg");

    /* Full height */
    height: 100%; 
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
#box {
    background-color: rgb(255, 255, 255, 0.8);
    width: 500px;
    border: 5px solid rgb(15, 158, 241);
    padding: 40px;
    margin: 40px 0px 0px 80px;
}

h1 {
    margin-bottom: 15px;
}
